<div class="container">
    <header class="login-head">
        <h1>Login</h1>
    </header>
    <form class="loginform">
        <label for="username">Username:</label><br>
        <input type="text" id="login-usernamebox"><br>
        <label for="username">New password:</label><br>
        <input type="text" id="login-passwordbox"><br>
        <button id="loginbtn" class="btn">Let's Go!</button>
    </form>
</div>
<script src="/js/login.js"></script>