<div class="container">
    <header class="signup-head">
        <h1>Sign Up</h1>
    </header>
    <form class="signupform">
        <label for="username">New Username:</label><br>
        <input type="text" id="usernamebox"><br>
        <label for="username">New Password:</label><br>
        <input type="text" id="passwordbox"><br>
        <button id="signupbtn" class="btn">Let's Go!</button>
    </form>
</div>
<script src="/js/signup.js"></script>